#.env
backend/.env
frontend/.env

# Python virtual environment
backend/venv/

# Logs
frontend/logs
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Dependency directories
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local
backend/node_modules/

# Python cache files
backend/__pycache__/
backend/app/__pycache__/
backend/app/api/__pycache__/
backend/app/auth/__pycache__/
backend/app/core/__pycache__/
backend/app/domain/__pycache__/
backend/app/routes/__pycache__/
backend/app/application/__pycache__/
backend/app/infrastructure/__pycache__/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system files
node_modules/


