// colors
$mcm-color-primary: #9967ad;
$mcm-color-secondary: #4f2b62;
$mcm-color-shadow: rgba(0, 0, 0, 0.25);
$mcm-color-background: #f6f8fa;
$mcm-color-text: #333333;

// Border Radius
$mcm-radius-base: 10px;
$mcm-radius-round: 50%;
