@use "../../styles/variables";
@use "../../styles/mixins" as *;

.login-container {
  @include flex-center(3rem);
  height: 50rem;
  width: 35rem;
  border: 1px solid black;
  box-shadow: variables.$mcm-shadow;

  @media (max-width: 1000px) {
    border: none;
    box-shadow: none;
    width: 100%;
    height: 100vh;
  }
  img {
    max-width: 10rem;
    object-fit: contain;
    filter: drop-shadow(variables.$mcm-shadow);
  }
  p {
    color: variables.$mcm-color-tertiary;
    font-size: medium;
    font-weight: 600;
    height: 100%;
    flex: wrap;
    text-align: center;
    width: 25rem;
  }
  &__title {
    font-family: "Open Sans", sans-serif;
    font-size: 3rem;
    font-weight: 900;
    @media (max-width: 480px) {
      font-size: 2rem;
    }
  }
  &__buttons {
    @include flex-center(1rem);
    width: 20rem;
    gap: 1rem;
    height: 15.5rem;
    button {
      width: 100%;
    }

    &__link {
      width: 100%;
      margin: 1rem;
    }
  }
  &__header {
    @include flex-center(1rem);
  }
}
