.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-height: 648px;

  @media (min-width: 768px) {
    padding-top: 2rem;
  }
  @media (max-width: 480px) {
    padding-top: 2rem;
  }
}
.heroBanner {
  @media (max-width: 1024px) {
    display: none;
  }
}
