@use "../../styles/_variables" as *;
.hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $mcm-color-primary;
  color: white;

  padding: 0.5rem 5rem;
  border-radius: 70px;
  box-shadow: $mcm-color-shadow 0px 4px 4px;

  width: fit-content;
  margin: 4rem auto;

  font-size: 4rem;

  font-weight: bold;
  text-align: center;

  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.02);
  }
  @media (max-width: 768px) {
    font-size: 2.5rem;
    padding: 0.5rem 2rem;
  }

  @media (max-width: 480px) {
    font-size: 3rem;
    padding: 0.5rem 1.5rem;
  }
}
